<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery.min.js" charset="utf-8"></script>
<script src="/js/popper.min.js" charset="utf-8"></script>
<script src="/js/bootstrap.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="/css/index.css">

<div class="profileMain">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">sigmaTenant</a>
    <div class="ml-auto">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid waveHeight">
    <div class="row rot180">
      <div class="col-md-3 flexCenter">
        <img src="/profile.svg" height="100px" width="100px" alt="">
      </div>
      <div class="col-md-8 flexCenter flexDirCol  text-left">
        <div class="helloBanner display-4 fontRed">
          Hello, Shreesh<br>
        </div>
        <div class="usernameBanner">
          @shreesh
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mainContent">
    <div class="row flexCenter">
      <div class="col-11 col-md-9 Card">
        <div class="cardWrapper">
          <div class="cardHeader">
            Edit Profile
          </div>
          <div class="row">
            <div class="col-4">
              <div class="cardSubHeader">
                Full name
              </div>
              <div class="cardContent">
                shreesh
              </div>
              <div class="cardSubHeader">
                Full name
              </div>
              <div class="cardContent">
                email
              </div>
            </div>
            <div class="col-4">
              <div class="cardSubHeader">
                Phone Number
              </div>
              <div class="cardContent">
                9606698912
              </div>
              <div class="cardSubHeader">
                Date of Birth
              </div>
              <div class="cardContent">
                12-12-2000
              </div>
            </div>
            <div class="col-4">
              <div class="cardSubHeader">
                Date of Birth
              </div>
              <div class="cardContent">
                12-12-2000
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row flexCenter">
      <div class="col-11 col-md-9 Card">
        <div class="cardWrapper">
          <div class="cardHeader">
            Change Password
          </div>
          <div class="row">
            <div class="col-4">
              <div class="cardSubHeader">
                current password
              </div>
              <div class="cardContent">
                ********
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
